/node_modules

# Archivos de compilación
*.js
*.d.ts
*.map

# Archivos de entorno local
*.cmd
*.ps1

coverage

.env

pnpm-lock.yaml

.DS_Store
Thumbs.db

dist/**/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

*.vsix